# ディレクトリを指定する場合
node_modules/

*.iml
*.log
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
.build
.cache
dist
*.css
build
lib
es
coverage
yarn.lock
.vscode
